# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/
.venv/

# Streamlit
.streamlit/

# Data (IMPORTANT FOR YOUR PROJECT)
data/

# Logs / temp
*.log
tempCodeRunnerFile.py

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Git / IDE
.vscode/
.idea/

# Cache
*.cache